<%- include("header") -%> 

<h1 id="heading">This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit doloribus voluptatem et, tenetur tempore iure quae distinctio itaque tempora fugiat!

</p>
<%- include("footer") -%> 
